html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}


body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  background-color: rgb(51, 51, 51);
  background-image: url("../images/noise.png");
  background-size: 512px;
  background-position: center;
  background-repeat: repeat;
}
  

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
}

.oldwebbutton {
  width: initial;
}

div {
  display: inline;
}