/* Animation Styles */

.animation-downwardsFade {
  animation: downwardsFade 1s ease-out 1s 1 normal both;
}

.animation-basicFade {
  animation: basicFade 0.5s ease-in 0s 1 normal both;
}

.animation-leftSlide {
  animation: leftSlide 1s ease-out 2s 1 normal backwards;
}

.animation-1750msDelay {
  animation-delay: 1750ms;
}

.animation-3500msDelay {
  animation-delay: 3500ms;
}

#homePageTeaser {
  animation-delay: 3s;
}

@keyframes downwardsFade {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: 0;
  }
}

@keyframes basicFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes leftSlide {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: 0;
  }
}

/* General Class Styles*/

#mainContent {
  width: 600px;
  height: 100vh;
  min-height: 500px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  background-color: rgb(28, 28, 28);
  background-image: url("../images/noise.png");
  background-size: 512px;
  background-position: center;
  background-repeat: repeat;
  animation-delay: 0s;
}

.pageTitle {
  font-size: 250%;
  font-weight: 400;
  text-align: center;
  margin: 0 0 20px 0 ;
  padding: 20px 0 0 0;
  color: #ababab;
}

.pageSubtitle {
  font-weight: 700 ;
  font-size: 120%;
  text-align: center;
  margin: 0 0 2% 0;
  color: #6c6c6c;
}

.homeCategoryButton {
  height: 50px;
  width: 80%;
  display: flex;
  margin: 10px auto;

  background-color: #6c6c6c;
  border: none;
  border-radius: 8px;

  font-family: "Dosis", sans-serif;
  font-size: 150%;
  text-align: left;
  
  transition: transform 0.1s;
}

.homeCategoryButton:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}

.buttonText {
  display: inline-block;
  margin : auto 0 auto 5%;
}

#headerBar {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

#headerIcon {
  width: 3%;
  height: 3%;
  margin: auto;
  transition: transform 0.1s;
}

#headerIcon:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}

#headerTitle {
  font-size: 180%;
  padding: 5px 0;
  font-weight: 500;
  margin: 0 0 0 23%;
}


/* Element  Styles */

html {
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: rgb(6, 6, 6);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
}

header {
  overflow: hidden;
  background-color: #898989;
  padding: 0;
  margin: 0;
  height: 2%;
  text-align: center;
}